*.env
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
ENV/

# IDE and text editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependency directories
lib/
libs/
Library/

# Distribution folders
/bin/
/build/
/dist/
/downloads/

# Misc
*.bak
*.swp
.DS_Store